.display {
    background-color: darkgray;
    height: 60px;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'ZCOOL QingKe HuangYou';
}

.calculator {
    border: 1px solid red;
    width: 600px;
    margin: 100px auto;
}
