@font-face {
    font-family: 'Digital-7 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Digital-7 Regular'), url('digital-7.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background-color: rgb(255, 234, 250);}

.display {
    background-color: rgba(42, 202, 90, 0.705);
    height: 60px;
    font-size: 60px;
    font-family: 'Digital-7 Regular';
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* font-family: 'ZCOOL QingKe HuangYou'; */
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 3px 2px 0px rgba(53, 53, 53, 0.699);
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

.calculator {
    border: 1px solid #686868;
    width: 350px;
    height: 400px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: rgb(56, 53, 53);
    box-shadow: 
    0px 1px 2px 4px rgb(119, 136, 153),
    4px -3px 2px 4px rgb(201, 230, 133),
    8px -7px 1px 3px rgb(146, 83, 197),
    11px -9px 1px 3px rgb(33, 130, 226);
}

div.numbers, div.operators, div.clear {
    width: 60px;
    height: 40px;
    /* background-color: rgb(148, 148, 148); */
    color: white;
    font-size: 30px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 5px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}

div.numbers:hover, div.operators:hover {
    background-color: white;
    color: rgb(148, 148, 148);
}

div.numbers:active, div.operators:active {
    background-color: rgb(148, 148, 148);
    color: white;
}

div.clear { 
    padding-bottom: 5px;
    font-size: 40px;
    color: rgb(224, 224, 224);
    background-color: rgb(211, 50, 50);

}

div.clear:hover {
    color: rgb(211, 50, 50);
    background-color: rgb(224, 224, 224);
}

div.clear:active {
    color: rgb(224, 224, 224);
    background-color: rgb(211, 50, 50);
}

div.zero { 
    width: 135px;
    /* background-color: rgb(148, 148, 148); */
}
div.operators {
    padding-bottom: 5px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.digit {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 90px;
    width: 60%;
    height: 200px;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
div.function {
    margin-top: 40px;
    height: 200px;
    /* border: 1px solid red; */
    margin-right: 20px;
}

div.f { 
    margin-bottom: 10px;
}